.button,
.button_disabled {
  background-color: #0eb7f4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 16px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  border-radius: 10px;
}
.button {
  background-color: #0eb7f4;
}

.button_disabled {
  background-color: gray;
}

.button:hover {
  opacity: 1;
}
